body{
   margin: 0;
   padding: 0;
   font-size: 16px;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
           font-family: 'Poppins', sans-serif;
 
   font-family: 'Poppins', sans-serif;
 }

:root {
   --main-color: #353535;
   --secundery-color: #ffb606;
   --poppins: 'Poppins', sans-serif;
   --raleway: 'Raleway', sans-serif;
   --roboto : 'Roboto', sans-serif;
   --green-color : #4FA961;
 }
 


.main-body-overflow{
	overflow: hidden !important;
}

 /* Default CSS */
 html, body, div, span, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 abbr, address, cite, code,
 del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var,
 b, i,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section, summary,
 time, mark, audio, span, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
      line-height: 1.15; /* 1 */
   -ms-text-size-adjust: 100%; /* 2 */
   -webkit-text-size-adjust: 100%; /* 2 */
 }
 
 button,
 input { /* 1 */
   overflow: visible;
    font-family: 'Poppins', sans-serif;
 }
 
 button,
 html [type="button"], /* 1 */
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button; /* 2 */
 }
 
 button::-moz-focus-inner,
 [type="button"]::-moz-focus-inner,
 [type="reset"]::-moz-focus-inner,
 [type="submit"]::-moz-focus-inner {
   border-style: none;
   padding: 0;
 }
 
 textarea {
   overflow: auto;
 }
 [type="checkbox"],
 [type="radio"] {
   -webkit-box-sizing: border-box;
           box-sizing: border-box; /* 1 */
   padding: 0; /* 2 */
 }
 
 [type="search"] {
   -webkit-appearance: textfield; /* 1 */
   outline-offset: -2px; /* 2 */
 }
 ::-webkit-file-upload-button {
   -webkit-appearance: button; /* 1 */
   font: inherit; /* 2 */
 }
 
 
 p a{
   background: transparent !important;
 }
 article,aside,details,figcaption,figure,
 footer,header,hgroup,menu,nav,section {
    display: block;
 }
 textarea{
   outline:none !important;
 }
 
 audio,
 canvas,
 video {
    display: inline-block;
 }
 a{
   outline: none !important;
 }
 audio:not([controls]) {
    display: none;
    height: 0;
 }
 
 [hidden] { display: none; }
 
 code, kbd, pre, samp {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
 }
 
 pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
 }
 
 blockquote:before, blockquote:after,
 q:before, q:after {
    content: '';
    content: none;
 }
 
 ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
 }
 
 mark {
    background-color: #A7F4F6;
    color: #555;
 }
 
 del { text-decoration: line-through; }
 
 abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
 }
 
 table {
    border-collapse: collapse;
    border-spacing: 0;
 }
 button{
   outline: none !important;
 }
 input
 {
     outline:none !important;
 }
 
 textarea{
   outline: none !important;
 }
 /************ End default css ******************/
 
 h1,h2,h3,h4,h5,h6,p{
   margin:0;
   padding:0;
 }
 ul{
   margin:0;
   padding: 0;
   list-style: none;
 }
 a{
   margin:0;
   padding:0;
   text-decoration: none;
 }
 a:hover{
   text-decoration: none;
 }
 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: 'Poppins', sans-serif; 
   font-size: 100%; /* 1 */
   line-height: 1.15; /* 1 */
   margin: 0; /* 2 */
 }

 .container{
    max-width:1200px;
    width:100%;
    margin:0 auto;
    padding-right:15px;
    padding-left:15px;
 }

.d-flexx{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.d-flex{
   display: flex;
}
.f-warp{
   flex-wrap: wrap;
}
.al-center{
   align-items: center;
}
.j-center{
   justify-content: center;
}
.js-center{
	justify-content: space-between;
 }
/*input {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid var(--secundery-color);
	font-family: var(--poppins);
	height: 40px;
	line-height: 40px;
	display: block;
	font-size: 16px;
	color: var(--secundery-color);
}
textarea{
	width: 100%;
	box-sizing: border-box;
	border: 1px solid var(--secundery-color);
	font-family: var(--poppins);
	height: 110px;
	line-height: 24px;
	display: block;
	font-size: 16px;
	color: var(--secundery-color);
}*/

img{
   width: 100%;
   height: auto;
}
.mt-20,
.ml-20,
.mr-20,
.mb-20{
   margin-top: 20px;
}
.mt-10,
.ml-10,
.mr-10,
.mb-10{
   margin-top: 10px;
}

.mt-5,
.ml-5,
.mr-5,
.mb-5{
   margin-top: 5px;
}

.section-padding{
   padding: 70px 0px;
}

.common-heading h1 {
	padding-bottom: 10px;
   position: relative;
}

h1 {
	color: var(--secundery-color);
	font-family: var(--roboto);
	font-size: 36px;
	line-height: 1.5;
	font-weight: 700;
	letter-spacing: 0.5px;
}

h2 {
	font-size: 20px;
	font-weight: 700;
	color: #000;
	line-height: 1.5;
}

h3 {
	color: var(--main-color);
	font-family: var(--raleway);
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	text-transform: capitalize;
}

p {
	font-size: 15px;
	font-weight: 400;
	color: #000;
	line-height: 1.5;
}


/**************************************/
/************ Header  Area*************/
/************************************/


.main-header-area {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 22;
	background: rgba(0, 0, 0, 0.5);
}
.header-top-left > ul > li {
	margin-right: 20px;
}
.header-top-left > ul > li > a, .header-top-right > ul > li > a {
	color: #fff;
	font-family: var(--poppins);
	font-size: 13px;
	font-weight: 500;
	
}

.header-top-left > ul > li:hover a{
	opacity: 1;
	transition: 0.4s;
}


.header-top-left > ul > li > a > i {
	color: #fff;
	margin-right: 7px;
}
.ex-number {
	position: relative;
	top: -1px;
}

.header-top-right > ul > li {
	margin-right: 18px;
}
.header-top-right > ul > li:last-child{
	margin-right: 0px;
}
.header-top-right > ul > li a {
	font-size: 15px;
	display: block;
	color: #fff;
	transition: 0.4s;
}
.header-top-right > ul > li:hover a{
	opacity: 1;
	transition: 0.4s;
}

.header-top-flex.d-flexx {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	clear: both;
	overflow: hidden;
	padding: 4px 0px;
}

.main-menu-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 7px 0px;
}
.main-menu > ul {
	display: flex;
	margin-left: 50px;
}
.main-menu > ul > li{
	position: relative;
}
.main-menu > ul > li a {
	display: block;
	padding: 8px 15px;
	font-family: var(--raleway);
	font-weight: 600;
	color: #fff;
}
.main-menu > ul > li:hover a{
	color: var(--secundery-color);
	transition: 0.4s;
}
.main-menu > ul > li.active a{
	color:#ffb606 !important;
}

.main-menu > ul .book-now a {
	background: var(--secundery-color);
	border: 2px solid transparent;
	color: #000;
	margin-left: 10px;
}
.main-menu > ul > li.book-now:hover a{
	background: transparent;
	border: 2px solid var(--secundery-color);
	color: #fff;
}

.main-menu > ul ul {
	position: absolute;
	content: "";
	top: 62px;
	left: -50px;
	z-index: 99;
	min-width: 185px;
	background: #fff;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	visibility: hidden;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.main-menu > ul li:hover > ul{
	visibility: visible;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transition: 0.4s;
	transition: 0.4s;
	left: 0;
}

.main-menu > ul> li>  ul > li{
	border-bottom: 1px solid #cbcbcb;
}
.main-menu > ul> li>  ul > li a{
	line-height: 45px;
	color: #000 !important;
	font-size: 13px;
	padding: 0px 30px;
	font-weight: 600;
	letter-spacing: .30px;
	-webkit-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	transition: all 150ms linear;
	display: block;
}

.main-menu > ul>li>ul>li:hover> a{
	background: #ffb606;
	color: #fff !important;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid \9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.footer-logo > a > img{
	width: 135px;
	height: auto;
}


/**************************************/
/************ banner  Area*************/
/************************************/

.slide.custom-splide::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.2);
}


.logo > h2 {
	color: #fff;
}

.banner-area .splide__list {
    height: inherit;
}

 .banner-area .splide__arrow {
	background: transparent;
	opacity: 0.8;
}

.banner-area .splide__arrow svg {
	fill: #fff;
    position: relative;
    top: 2px;
}

.banner-area .splide__arrow {
	-ms-flex-align: inherit !important;
	align-items: inherit !important;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	display: block !important;
	height: 2.5rem !important;
	-ms-flex-pack: center;
	justify-content: center;
	opacity: 0.8;
	padding: 0;
	position: absolute !important;
	/* bottom: 50px !important; */
	/* transform: inherit !important; */
	width: 2.5rem !important;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
}

.banner-area .splide__arrow--prev {
	left: 60px;
}

.banner-area .splide__arrow--next {
	right: 60px;
}

.splide__pagination__page {
	background: var(--secundery-color);
	height: 8px;
	margin: 8px;
	width: 8px;
}

 .splide__pagination__page.is-active {
	background: var(--secundery-color);
	transform: scale(1.6);
	width: 10px;
	height: 10px;
  
}

.slide.custom-splide {
	position: relative;
	max-height: 610px;
	z-index: 1;
}

/*.banner-content-overly {
	position: absolute;
	z-index: 1;
	width: 100%;
	left: 15%;
	top: 50%;
	transform: translateY(-50%);

}
*/
@keyframes bounceInUp {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   60% {
      opacity: 1;
      transform: translateY(00px);
   }
   80% {
      transform: translateY(0px);
   }
   100% {
      transform: translateY(0);
   }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 0;
  }  
  100% {
      opacity: 1;
  }
}


.banner-content-overly {
	position: absolute;
	z-index: 1;
	width: 100%;
	bottom: 35px;
	max-width: 493px;
	right: 30px;
}


.resort_banner_slide .is-active.is-visible .custom-splide .banner-content-overly .banner-content h2,
.resort_banner_slide .is-active.is-visible .custom-splide .banner-content-overly .banner-content p,
.resort_banner_slide .is-active.is-visible .custom-splide .banner-content-overly .banner-content .common-btn > a 

{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.mobile-desk {
  display: none;
}



.banner-content h2 {
	font-size: 50px;
	color: #fff;
	font-weight: 700;
	text-shadow: 1px 3px 8px #131110;


}
.banner-content h2 span {
	display: block;
}

.banner-content p {
	font-size: 18px;
	color: #fff;
	display: block;
	/*padding: 16px 0px;*/
}

.common-btn{
	margin-top: 20px;
}
/*.common-btn > a {
	border: 2px solid #fff;
	display: inline-block;
	padding: 15px 35px;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	transition: 0.4s;
	border-radius: 5px;
}
*/

.common-btn > a {
	border: 2px solid #fff;
	display: inline-block;
	padding: 10px 15px;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	transition: 0.4s;
	border-radius: 5px;
}
.common-btn > a:hover{
	background: var(--secundery-color);
	color: #000;
	border: 2px solid var(--secundery-color);
}

.logo > a > img {
    width: 85px;
    height: auto;
}

/*open search modal css*/

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.7);
}

.overlay-content {
	position: relative;
	top: 50%;
	/* width: 80%; */
	text-align: center;
	margin-top: 30px;
	margin: auto;
	max-width: 700px;
	width: 100%;
	background: #1a1a1c;
	padding: 105px 81px;
	transform: translateY(-50%) scale(1.0);
	transition: all 0.2s ease-in-out;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 40px;
  cursor: pointer;
  color: white;
}


.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
	float: left;
	width: 20%;
	padding: 15px;
	background: var(--secundery-color);
	font-size: 17px;
	border: none;
	cursor: pointer;
	color: #fff;
}

.overlay-content > form {
	display: flex;
}


/**************************************/
/************ booking room  Area*************/
/************************************/
.booking-room-area {
	padding-top: 50px;
	overflow: hidden;
	padding-bottom: 50px;
}

.col-md-7 {
	flex: 0 0 58%;
}

.col-md-5 {
	flex: 0 0 40%;
}

.grid {
	position: relative;
	margin: 0px;
	list-style: none;
	text-align: center;
}

.custom-rows{
	margin-top: 40px;
}

figure.effect-layla {
	background: #543b21;
}

.grid figure {
	position: relative;
	float: right;
	overflow: hidden;
	/*margin: 15px 0%;*/
	/* min-width: 320px; */
	width: 100%;
	max-height: 360px;
	width: 100%;
	background: #543b21;
	text-align: center;
	/* cursor: pointer; */
}
figure.effect-layla img, figure.effect-layla figcaption::before, figure.effect-layla figcaption::after, figure.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla img, figure.effect-layla h2 {
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-layla img {
	height: 390px;
}
.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	/* opacity: 0.8; */
	opacity: 1;
}
figure.effect-layla figcaption {
	/*padding: 3em;*/
	/* display: none; */
}

.grid figure figcaption, .grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption {
	/*padding: 2em;*/
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-layla figcaption {
	background-color: rgba(0,0,0,.3);
}

figure.effect-layla figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}


figure.effect-layla figcaption::before, figure.effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

.grid figure figcaption::before, .grid figure figcaption::after {
	pointer-events: none;
}
.grid figure figcaption {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
}

figure.effect-layla h3 {
	font-family: 'Century Gothic', serif;
	font-weight: 600;
	padding: 90px 0px 10px 0px;
	text-shadow: 0px 10px 15px #000;
	color: #fff;
	font-size: 37px;
	letter-spacing: 2px;
	border-bottom: 1px solid;
	width: 70%;
	margin: 0 auto;
	transition-duration: .5s;
}

h6.find-more {
	position: absolute;
	bottom: 60px;
	left: 43%;
}
h6.find-more a {
	color: #fff;
	transition-duration: .7s;
}

figure.effect-layla h2 {
	padding-top: 0px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	opacity: 0;
	color: #fff;
	font-size: 35px;
	padding-top: 25px;
}
.grid figure h2 span {
	font-family: 'Century Gothic', serif;
	font-weight: 700;
	text-shadow: 0px 10px 15px #000;
}
figure.effect-layla p {
	padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
.grid figure figcaption > a {
	z-index: 1;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
figure.effect-layla figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}


figure.effect-layla:hover figcaption::after, figure.effect-layla:hover h2, figure.effect-layla:hover p, figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-layla:hover img {
	/* opacity: 0.7; */
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption {
	background-color: rgba(0,0,0,.5);
}

figure.effect-layla:hover figcaption::before, figure.effect-layla:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


figure.effect-layla:hover h3 {
	opacity: 0;
	transition-duration: .4s;
	padding: 0px 0px;
}

figure.effect-layla:hover h6.find-more {
	letter-spacing: 2px;
}

figure.effect-layla:hover h2, figure.effect-layla:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover p {
	line-height: 17px;
	padding-top: 30px;
	font-size: 16px;
	text-align: center;
	font-weight: 400;
	/* padding: 30px 103px; */
	width: 80%;
	margin: 0 auto;
	color: #fff;
}


.row {
	display: flex;
	justify-content: space-between;
}

.footer-top-content {
	text-align: center;
}


/**************************************/
/************ support given  Area*************/
/************************************/
.support-given-area {
	overflow: hidden;
	padding: 50px 0;
	background: #353535;
}
.support-given-main-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.support-given-single-item {
	padding: 20px;
	width: 150px;
	border-radius: 10px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.display_4 {
	width: 130px;
	height: 130px;
	line-height: 130px !important;
	color: #fff !important;
}


.support-gif-icon {
	width: 130px;
	height: 130px;
	border: 1px dashed #ddd;
	line-height: 130px;
	text-align: center;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 15px;
	position: relative;
}

.support-gif-icon::after {
	position: absolute;
	content: "";
	width: 1px;
	height: 130px;
	background: #fff;
	left: 205px;
	top: 50%;
	transform: translateY(-50%);
	opacity: .50;
}
.support-gif-icon::before {
	position: absolute;
	content: "";
	width: 1px;
	height: 130px;
	background: #fff;
	right: 205px;
	top: 50%;
	transform: translateY(-50%);
	opacity: .50;
}


/*.support-given-single-item:last-child .support-gif-icon:after{
	display: none;
}
.support-given-single-item:first-child .support-gif-icon:before{
	display: none;
}*/


.support-gif-icon img {
	width: 45px;
	height: auto;
	position: relative;
	top: 12px;
}
.count-plus {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.support-given-single-item h6 {
	color: #f08321;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.5;
}

.count-plus h4 {
	padding-left: 3px;
	color: #f08321;
	font-size: 20px;
}
.support-given-single-item span {
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	font-style: italic;
}



.main-header-area.fade-in .header-top-area{
	display: none;
}

 .animi {
	width: 100%;
	left: 0px;
	top: 0px;
	position: fixed;
	background: #fff;
	z-index: 999;
	-webkit-box-shadow: 0px -2px 24px 1px rgba(0, 0, 0, 0.36);
	box-shadow: 0px -2px 24px 1px rgba(0, 0, 0, 0.36);
	transition: 0.4s;
	margin-top: -175px;
}

.main-header-area.fade-in .animi {
	transition: 0.4s;
	margin-top: 0px;
}

.main-header-area.fade-in .animi .main-menu-flex .logo > h2 {
	color: #000;
}
.main-header-area.fade-in .animi .main-menu > ul > li a {
	color: #000;
	transition: 0.4s;
}

/**************************************/
/************ Google Map  Area*************/
/************************************/
.location {
	display: block;
	position: relative;
	overflow: hidden;
	padding: 50px 0px;
}
section article {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 100%;
}
.location .map-widget {
	overflow: hidden;
	overflow-y: auto;
	bottom: 0;
	color: #fff;
	font-size: 16px;
	height: 580px;
	padding: 26px 30px 0 30px;
	position: absolute;
	right: 0;
	width: 305px;
}
.common-heading h2 {
	font-size: 30px;
	display: block;
	padding-bottom: 20px;
}
.common-heading {
	text-align: center;
}



.location .map-widget {
	background-color: rgba(255,255,255,0.9);
	border: 1px solid #000;
	color: #000;
}
.location .map-copy-wrapper {
	max-height: 100px;
	overflow: hidden;
}
.location .map-widget p:first-of-type {
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
}
.location .map-widget p {
	color: #000;
	font-size: 13px;
}
.location .attraction-wrapper {
	position: relative;
}
.location .attraction-trigger-wrapper {
	background: #fff;
	cursor: pointer;
	height: 42px;
	line-height: 42px;
	margin: 15px 0 13px 0;
	width: 100%;
}
.location .map-widget .attraction-trigger-wrapper {
	border: 1px solid #000;
}

.location .map-widget .attraction-trigger-wrapper a {
	color: #000;
	font-family: "newsGothic",Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding-left: 12px;
}
.location ol.map-widget-filter {
	list-style-position: inside;
	margin: 0 0 14px 0;
	overflow: hidden;
	padding: 0;
}

.map-widget > h3 {
	text-transform: uppercase;
	color: #000;
	margin-bottom: 10px;
}


.location .common-heading h2 {
	padding-bottom: 40px;
}

.location .map-widget ol.map-widget-filter li {
	border-bottom: 1px solid #000;
	color: #54b2b0;
}

.location ol.map-widget-filter li {
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	padding: 15px 0;
	list-style-position: inside;
}

.location .map-widget ol.map-widget-filter li {
	color: #000;
    font-weight: 500;
}
.clearfix {
	clear: both;
}

/**************************************/
/************ footer area  Area*************/
/************************************/
.footer-area{
	overflow: hidden;
	background: #353535;
	padding: 50px 0px 15px 0px;
	color: #fff;
	position: relative;
}

.footer-area::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	background: #fff;
	left: 0;
	bottom: 50px;
	opacity: .6;
}

.footer-main-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-logo {
	flex: 0 0 24%;
	text-align: center;
}
.footer-menu {
	flex: 0 0 48%;
}
.footer-menu > ul > li > a {
	color: #fff;
	font-size: 13px;
	letter-spacing: .5px;
	font-weight: 300;
}
.footer-marque {
	background: #fff;
	position: relative;
	height: 44px;
	top: 50px;
}
.footer-marque marquee h2 {
	display: block;
	padding: 10px;
	font-weight: 500;
	font-size: 14px;
}

.footer-overly {
	position: absolute;
	top: 0;
	left: 0;
	width: 64px;
	background-color: #34e0a1;
	padding: 7px 8px 7px 8px;
}

.footer-logo > h1 {
	font-size: 30px;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 45px;
}

.footer-bottom p {
	color: #fff;
}
.footer-bottom span a {
	color: #fff;
}


.footer-menu > ul > li {
	display: inline-block;
	position: relative;
	padding-right: 15px;
	padding-left: 5px;
	padding-bottom: 6px;
}
ul.footer-links li a::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: #fff;
	bottom: 0%;
	animation: out 0.4s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
 ul.footer-links li::after {
	content: '';
	position: absolute;
	right: 0px;
	top: 2px;
	width: 1px;
	height: 15px;
	background: #fff;
}





ul.footer-links li a:hover:before{ animation:in 0.9s cubic-bezier(1, 0, 0.58, 0.97) 1 both; }
p.site a:before{ content:''; position: absolute; width: 100%; height: 1px; background:#fff; bottom:0%; animation:out 0.4s cubic-bezier(1, 0, 0.58, 0.97) 1 both;}
p.site ul.footer-links li a:before{ content:''; position: absolute; width: 100%; height: 1px; background:#fff; bottom:0%; animation:out 0.4s cubic-bezier(1, 0, 0.58, 0.97) 1 both;}

@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}
/*Link Hover Ends*/

.footer-area-top {
	background: #463120;
	padding: 5px 0px;
	overflow: hidden;
}

.footer-top-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-top-content > p {
	color: #fff;
	font-size: 13px;
}

#current-time {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
}
.footer-time > span {
	color: #fff;
	font-size: 14px;
	text-align: ;
	float: right;
	font-weight: 300;
}
.footer-links {
	text-align: justify;
}

/**************************************/
/************ back to top*************/
/************************************/

#toTop {
	display: block;
	position: fixed;
	bottom: 40px;
	right: 35px;
	font-size: 45px;
	width: 45px;
	height: 45px;
	background: var(--secundery-color);
	text-align: center;
	line-height: 45px;
	color: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	cursor: pointer;
	border-radius: 50%;
	z-index: 99;
	transition: 0.4s;
}

#toTop:after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #fff;
  position: relative;
  top: -11px;
}


#toTop:hover {
  transition: 0.4s;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


/**************************************/
/************other page room css*************/
/************************************/
.other-page-area{
	background: url('../images/room.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover; 
	padding-top: 220px;
	padding-bottom: 100px;
	position: relative;
	z-index: 1;
}
.other-page-area:after{
	content: "";
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0px;
	width: 100%;
	top: 0;
	height: 100%;
	z-index: -1;
}

.other-page-area .common-heading {
	text-align: left;
}
.other-page-area .common-heading h2{
	padding-bottom: 0px;
	color: #fff;
	font-size: 50px;
}

.choose-room-single-item > a{
	position: relative;
	display: block;
}
.choose-room-single-item > a:after{
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	opacity: 0;
	-webkit-transition: all 300ms linear 0s;
	-o-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;
	z-index: 1;
}

.choose-room-single-item:hover a:after{
	opacity: 1;
}

.choose-room-single-item > a > img {
	width: 100%;
	height: auto;
	border: 1px solid #ddd;
	overflow: hidden;
	margin-bottom: -4px;
}
.choose-room-main-grid {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 35px;
	margin-top: 50px;
}

.room-search-area{
	padding: 50px 0px;
	overflow: hidden;
	background: #fff;
}

.other-page-heading > h1 {
	color: #000;
	text-transform: uppercase;
	font-size: 30px;
}
.other-page-heading > h1 > span {
	color: var(--secundery-color);
}
.other-page-heading > small {
	font-weight: 400;
	font-size: 16px;
	color: #a0a0a0;
}

.choose-room-single-item {
	box-shadow: 0px 8px 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	overflow: hidden;
}
.room-content-x {
	padding: 30px;
}
.room-content-x .common-btn {
	text-align: end;
}
.room-content-x .common-btn > a {
	border: 2px solid var(--secundery-color);
	color: #000;
}
.room-content-x > a {
	color: #000;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.1;
	min-height: 70px;
	display: block;
	position: relative;
	z-index: 1;
	transition: 0.4s;
}
.room-content-x > a:hover{
	color: var(--secundery-color);
}
.room-content-x > a::after {
	position: absolute;
	content: "";
	width: 65px;
	height: 2px;
	background: var(--secundery-color);
	left: 0;
	bottom: -2px;
}
.room-content-x > h3 {
	margin-top: 15px;
}
.room-content-x > h3 > span {
	color: #a0a0a0;
}



/**************************************/
/************other page Contact css*************/
/************************************/
.section-padding {
	padding-top: 15px;
}
.reqest-demo-main-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

.reqest-demo-main-flex::before {
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	top: 0;
	left: 46%;
	background: #ddd;
	transform: translateX(-46%);
}

.reqest-demo-main-flex::after {
	position: absolute;
	content: "";
	width: 3px;
	height: 50%;
	top: 25%;
	left: 46%;
	background: var(--secundery-color);
	transform: translateX(-46%);
}

.reqest-demo-right {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 48%;
	flex: 0 0 48%;
}

.reqest-demo-left {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}

.reqest-demo-right p {
	font-weight: 400;
	font-size: 17px;
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 1.5;
	letter-spacing: 0.5px;
}
.reqest-demo-right ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 25px 0px;
	text-align: center;
}


.reqest-demo-right ul li i {
	font-size: 30px;
	width: 50px;
	color: var(--secundery-color);
}

.reqest-demo-right ul li span, .reqest-demo-right ul li a {
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	color: #111;
	margin-left: 6px;
}


.contact-inner-gradient {
	background-color: #fff;
	padding: 32px;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
	border: 1px solid #e7e7e7;
}


.reqest-inner-content-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.reqest-inner-content-flex .custom-input {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 49%;
	flex: 0 0 49%;
}

.custom-input label {
	display: block;
	font-weight: 500;
	font-size: 15px;
	margin-bottom: 5px;
}


.custom-input select, .custom-input textarea, .custom-input input {
	width: 100%;
	border: 1px solid #ccc;
	display: block;
	padding: 8px 10px;
	padding-left: 10px;
	padding-left: 10px;
	margin-bottom: 8px;
	font-weight: 400;
	font-size: 14px;
	color: #111;
	font-family: 'Poppins', sans-serif;
	opacity: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 36px;
	border-radius: 5px;
}

.custom-submit {
	margin-top: 20px;
}

.custom-submit input {
	border: none;
	background: var(--secundery-color);
	color: #fff;
	display: inline-block;
	padding: 12px 22px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	border: 2px solid transparent;
	overflow: hidden;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}

.custom-submit input:hover {
	background: transparent;
	border: 2px solid var(--secundery-color);
	color: #000;
}
.contact-search-area{
	padding-top: 50px;
}
.custom-input textarea {
	height: 100px;
}

.contact-inner-gradient > h3 {
	margin-bottom: 15px;
}


/**************************************/
/************other page search room css*************/
/************************************/

.book_table_inner {
	background: #f5f5f5;
	-webkit-box-shadow: 0px 3px 57px 0px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 3px 57px 0px rgba(0, 0, 0, 0.18);
	clear: both;
	padding: 35px 40px 35px 32px;
	margin-top: -25px !important;
	z-index: 20;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.book_table_item {
	flex: 0 0 19%;
}

.book_table_item input, .book_table_item > select {
	width: 100%;
	box-sizing: border-box;
	height: 40px;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	opacity: 1;
	padding-left: 8px;
	color: #a0a0a0;
	background: #fff;
	border: 1px solid #ddd;
	display: block;
	border-radius: 5px;
}

/*input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}*/

.add-on {
	position: absolute;
	top: 11px;
	right: 10px;
	z-index: 2;
}

.input-append {
	position: relative;
	z-index: 1;
}

.book_table_item > button {
	text-align: center;
	display: block;
	border: 2px solid transparent;
	font-weight: 500;
	height: 40px;
	padding: 0px 34px;
	font-size: 16px;
	background: var(--secundery-color);
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.4s
}
.book_table_item > button:hover{
	background: transparent;
	border: 2px solid var(--secundery-color);
	color: #000;
}



.room-search-cart-main {
	display: grid;
	grid-template-columns: 9fr 3fr;
	grid-column-gap: 20px;
}

.search-filter-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #ddd;
}

.search-f-left > a {
	font-size: 16px;
	display: inline-block;
	padding: 8px;
	color: #fff;
	font-weight: 500;
	background: var(--main-color);
}

.search-f-right > a {
	font-size: 16px;
	display: inline-block;
	padding: 8px;
	color: #000;
	font-weight: 500;
}

.search-f-right > a:first-child{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.search-f-right > a > span {
	border-bottom: 2px solid var(--secundery-color);
}

.min-items-inner-single {
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	padding: 15px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 35px;
}

.search-room-main-items-grid .min-items-inner-single:last-child {
	margin-bottom: 0px;
}
.search-room-main-items-grid {
	margin-top: 40px;
}
.search-room-img > a > img {
	width: 100%;
	height: auto;
	transition: 0.4s;
	transform: scale(0.95);
}

.search-room-img > a > img:hover{
	transform: scale(1);
	transition: 0.4s;
}

.search-room-img {
	flex: 0 0 30%;
	margin-right: 25px;
}

.search-room-content {
	flex: 0 0 67%;
}

.super-king-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px dashed #ddd;
	padding-bottom: 6px;
}

.sp-left > span {
	font-size: 15px;
	font-weight: 500;
	color: #000;
	line-height: 1.5;
}

.sp-left .sp-margin {
	text-decoration: underline;
	margin-bottom: 15px;
	display: block;
	margin-top: 5px;
}
.sp-right > small {
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
}
.sp-right {
	text-align: end;
}

.search-room-content .common-btn{
	position: relative;
}

.book-search-btn > a {
	border: 2px solid transparent;
	display: inline-block;
	padding: 10px 25px;
	color: #000;
	transition: 0.4s;
	background: var(--secundery-color);
}

.book-search-btn > a:hover{
	background: transparent;
	border: 2px solid var(--secundery-color);
}


.add-tocart-overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	background: var(--secundery-color);
	border-radius: 5px;
	height: 36px;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	border: 2px solid var(--secundery-color);
}

.add-tocart-overlay.show {
	opacity: 1;
	visibility: visible;
}

.inner-card-flex {
	position: relative;
	top: 7px;
	left: -6px;
}

.qty-holder2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.qty-dec-btn2 {
	padding-left: 15px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}


.qty-holder2 > aside {
	color: #fff;
	font-weight: 400;
	font-size: 15px;
	margin: 0px 10px;
}

.room-search-cart-right {
	border: 1px solid #ddd;
	padding: 10px;
	max-height: 276px;
	overflow-y: scroll;
}

.shopping-cart h4 {
	text-align: center;
	margin-bottom: 15px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 12px;
	text-transform: capitalize;
}

.smy-date span {
	font-size: 16px;
	font-weight: 600;
}
.smy-date span small {
	font-weight: 400;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	margin-left: 6px;
}
.smy-date {
	margin-bottom: 10px;
}

.super-flex-item {
	display: flex;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	justify-content: space-between;
}

.total-amount {
	display: flex;
	justify-content: space-between;
}

.spk-left > p {
	font-size: 13px;
}

.spk-right {
	text-align: end;
}

.spk-right > h5 {
	position: relative;
	top: 25px;
	font-weight: 400;
	font-size: 14px;
}

.spk-right span > i {
	color: red;
}

.sp-margin a {
	color: #000;
}


/**************************************/
/************other page checkout css*************/
/************************************/

#niiceeTab {

}
.niiceeTabBtn button {
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	padding: 15px 30px;
	color: #000;
	background: #EEEEEE;
	transition: 0.3s;
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
	font-weight: 600;
}
.niiceeTabBtn button.active {
	background-color: var(--secundery-color);
	color: #fff;
}
.tabcontent {
	display: none;
	animation: fadeEffect 1s;
}
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}


.custom-input-resort label {
	display: block;
	font-weight: 500;
	font-size: 15px;
	margin-bottom: 5px;
}

select{
	outline: none;
}

.custom-input-resort input, 
.custom-input-resort select,
.custom-input-resort.extera-adrs textarea {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #000;
	border-radius: 3px;
	opacity: 1;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	color: #a0a0a0;
	background: #fff;
}
.custom-input-resort input:focus{
	opacity: 1;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.custom-input-resort select:focus{
	opacity: 1;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

/*.custom-input-resort {
	flex: 0 0 48%;
	margin-bottom: 20px;
}

.customar-dts-from-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}*/

.customar-dts-from-inner-flex {
	display: flex;
	justify-content: space-between;
	margin-bottom: 18px;
}


.customar-dts-from-inner-flex .custom-input-resort {
	flex: 0 0 32%;
}

.customar-dts-from-inner-flex.customar-dts-from-inner-flex2 .custom-input-resort {
	flex: 0 0 24%;
}

.custom-input-resort.extera-adrs textarea {
	height: 100px;
	width: 100%;
	margin-bottom: 18px;
}


.niiceeTabContent {
	padding: 40px 20px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	margin-top: 15px;
	border-radius: 5px;
	padding-top: 30px;
}

.customar-detaits-main h2 {
	font-weight: 600;
	margin-bottom: 14px;
}

.book_table_item.dtl-btn {
	flex: 0 0 100%;
	margin-top: 15px;
}


.ex-customar .custom-input-resort {
	/* flex: 0 0 50%; */
	margin-bottom: 20px;
	width: 50%;
}


.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.checkout-summery-main-grid .smy-date {
	display: flex;
	justify-content: space-between;
}

.address-check-out .header-top-left > ul > li > a, .address-check-out .header-top-right > ul > li > a {
	color: #000;
}

.address-check-out .header-top-left > ul > li > a > i {
	color: #000;
}

.address-check-out .d-flex.al-center {
	flex-direction: column;
	align-items: start;
}


.hotel-checkout-main .room-search-cart-right {
	max-height: inherit;
	overflow-y: inherit;
}

.address-check-out > p {
	font-size: 14px;
	margin-bottom: 5px;
}

.address-check-out {
	margin-bottom: 15px;
}

.check-in-out h6 {
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 4px;
}

.check-in-out > small {
	font-size: 13px;
	font-weight: 400;
	color: #a97676;
}

.check-in-out > h5 {
	font-size: 14px;
	display: block;
	margin-top: 8px;
}

.spk-left > p span {
	font-weight: 600;
}

.special-conditions-check > span {
	display: block;
	font-weight: 600;
	font-size: 15px;
}

.special-conditions-check > small {
	font-size: 13px;
	color: var(--secundery-color);
	display: block;
	padding: 5px 0px;
}

.room-chargeq-single {
	display: flex;
	justify-content: space-between;
	border: 1px solid #ddd;
	padding: 8px;
}

.room-chargeq-single > small {
	font-size: 12px;
	font-weight: 400;
}

.room-chargeq {
	margin: 15px 0px;
}

.total-rom-service .room-chargeq-single {
	display: flex;
	justify-content: space-between;
	border: navajowhite;
	padding: 8px;
}

.special-conditions-check {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 10px 0px;
	padding: 10px 0px;
}

.brack-down-2022 {
	display: block;
	font-size: 14px;
	padding: 5px 0px;
	text-decoration: underline;
	color: var(--green-color);
	margin-bottom: 5px;
}

.summery-main-grid.checkout-summery-main-grid .total-amount {
	background: var(--secundery-color);
	padding: 10px 5px;
}

.common-btn.book-search-btn.smr-book-search-btn > a {
	padding: 5px;
	font-size: 14px;
}


/*modal css*/



 .modal {
	 position: fixed;
	 width: 100vw;
	 height: 100vh;
	 opacity: 0;
	 visibility: hidden;
	 transition: all 0.3s ease;
	 top: 0;
	 left: 0;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 z-index: 99;
}
 .modal.open {
	 visibility: visible;
	 opacity: 1;
	 transition-delay: 0s;
}
.modal-bg {
	position: absolute;
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
}
.modal-container {
	border-radius: 10px;
	background: #fff;
	position: relative;
	padding: 30px;
	max-width: 550px;
	width: 100%;
	text-align: center;
}
 .modal-close {
	 position: absolute;
	 right: 15px;
	 top: 15px;
	 outline: none;
	 appearance: none;
	 color: red;
	 background: none;
	 border: 0px;
	 font-weight: bold;
	 cursor: pointer;
	 font-size: 26px;
}



.modal-container > img {
	width: 50px;
	height: auto;
	animation: tastanimation 2s linear 0.5s alternate 1;
	position: relative;
}

@keyframes tastanimation {
	0%{
		opacity: 0;
		transform: scale(0.8);
		
	}
	50%{
		opacity: 0;
		transform: scale(0.9);
		
	}
	100%{
		opacity: 1;
		transform: scale(1);
		
	}
}

.modal-container > h1 {
	font-size: 19px;
	margin: 12px 0px;
	color: #000;
	font-family: var(--poppins);
	font-weight: 500;
}

.popup-img {
	width: 80px !important;
	margin-top: 10px;
}





/*modal css*/